/* style.css */
html,
body{
    height: 100%
}

/*cover */
#cover{
    background:url('C:\Users\MUKESH\Desktop\bootstrap\mini project\lights.jpg');
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;

}

#cover-caption{
    width: 100%;
}
